{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "linebreak-style": "off",
    "consistent-return": "off",
    "prefer-destructuring": "off",
    "indent": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "func-names": "off",
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "none"
      }
    ]
  }
}